
/vendor/
/node_modules/
/core/
/modules/contrib/
/themes/contrib/
/profiles/contrib/
/libraries/


/web/

/sites/*/files/
/sites/*/private/
/sites/*/translations/


/sites/*/settings.php
/sites/*/settings.local.php
/sites/*/services.yml


/sites/default/files/


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

*.log
/tmp/