
<!--- Node de "noticia"-->
<article{{attributes.addClass('card','mb-4','shadow-sm')}}>
	<div class="card-body rounded-4 p-4">
        
    
  <div class="producto-card__gallery row g-2">
    <h2 class="card-title text-align-right">{{ label }}</h2>
    {% for item in node.field_foto_del_producto %}
      <div class="col-4">
        <img 
          src="{{ file_url(item.entity.uri.value) }}" 
          alt="{{ item.alt }}" 
          class="img-fluid rounded shadow-sm"
        />
      </div>
    {% endfor %}
  </div>

</article>